/* CSS reset */

body {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
ul,
ol,
li,
p {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

input {
  border: 0;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.bld {
  font-weight: bold;
  font-style: italic;
}

.hidden {
  display: none;
}

.fadein {
  animation: fadein 1.5s;
}

.fadeout {
  animation: fadeout 1.5s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Login form */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  box-sizing: border-box;
}

.login-form input:first-child {
  width: 200px;
  height: 35px;
  padding: 0 10px;
  margin-right: 10px;

  border-bottom: 1px solid #000;
}

.login-form input:first-child::placeholder {
  font-style: italic;
  color: #bbb;
}

.login-form input:last-child {
  width: 80px;
  height: 40px;
  background: none;
  border: 1px solid #000;
  border-radius: 100px;
}

.login-form input:last-child:hover {
  width: 80px;
  height: 40px;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.5s;
}

/* Container */

.container {
  height: 91vh;
  padding: 8%;
}

/* Box1 */

.box1 {
  height: 68vh;
  flex-basis: 30%;
}

#clock {
  font-size: 42px;
}

#date {
  font-size: 16px;
}

#weather > span {
  font-size: 12px;
}

#greeting {
  font-size: 12px;
}

/* Box2 */

.box2 {
  height: 68vh;
  flex-basis: 30%;
}

img {
  width: 100%;
  margin-bottom: 0.8rem;
}

/* Box3 */

.box3 {
  height: 68vh;
  flex-basis: 30%;
}

#todo-list {
  height: 40vh;
  overflow: scroll;
  font-size: 14px;
}

#todo-list li {
  height: 32px;
}

/* @media screen and (min-width: 770px max-width: 995px) {
  
} */
