.bgColor1 {
  background-color: lightcoral;
  color: cornsilk;
}

.bgColor2 {
  background-color: cornflowerblue;
  color: cornsilk;
}

.bgColor3 {
  background-color: lightseagreen;
  color: cornsilk;
}
